// vim: set ts=8 sts=2 et sw=2 tw=99:
//
// This provides the theming for the OpenIPF site distribution.
// It's a copy of "style.scss" with custom variables.

$background-color: #F4F4F4;
$header-color: $background-color;
$header-background-color: #303030;

$default-color: #120D0B;
$primary-color: #FDB93E;

$table-header-background-color: $primary-color;
$row-alt-background-color: #E8E6E7; // Every even-numbered row.
$row-hover-background-color: #CACACA;

$control-bar-background-color: #C2C2C2;
$control-text-color: #4A4A50;
$control-border-color: #A9A9A9;
$control-background-color: #F4F4F4;
$control-hover-color: #FFFFFF;
$control-active-color: #D8D8D8;
$control-selector-image: "/static/images/select_dropdown_gold.png";

$control-mobile-filter-icon: "/static/images/mobile_filter_white.svg";
$mobile-search-icon: "/static/images/search_white.png";
$mobile-close-icon-side-menu: "/static/images/close_icon_white.png";
$mobile-close-icon-search: "/static/images/close_icon.png";
$mobile-burger-menu-icon: "/static/images/burger_menu_white.png";
$mobile-search-background: transparent;

// Height definitions.
$control-bar-height: 36px;
$header-height: 36px;
$topbar-height: $control-bar-height + $header-height;

// For mobile.
$footer-height: 50px; // Matching size of Android bottom bar.

$table-row-height: 18px;

// Definitions for media queries.
$mobile-cutoff: 600px;

// External things that are hopefully pretty small.
@import "../node_modules/slickgrid/slick.grid";

// Internal things.
@import "header";
@import "tables";
@import "controls";
@import "records-columns";
@import "donator-colors";
@import "layout";

// Mobile stuff gets included too!
@import "mobile/style";

// Embed SVG logos inside the CSS to download everything at once.
@import "logos/instagram-openipf";
@import "logos/vkontakte-openipf";

// Override the setting in "layout": prefer blackish to yellowish.
h2 {
  color: $default-color;
}
